<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/user/user}">
    <head>
        <title>KLB Store</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/user/index">Trang chủ</a></li>
                            <li class="active">Đăng nhập</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-section mt-10 mb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                            <form th:action="@{/user/login}" th:object="${login}" method="post" id="amb">
                                <div class="login-form">
                                    <h4 class="login-title">Đăng nhập</h4>
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb-20">
                                            <label>Số điện thoại</label>
                                            <input class="mb-0" type="text" th:field="*{sdt}" placeholder="Nhập số điện thoại của bạn" />
                                            <span class="text-danger error" th:if="${#fields.hasErrors('sdt')}" th:errors="*{sdt}"></span>
                                        </div>
                                        <div class="col-12 mb-20">
                                            <label>Mật khẩu</label>
                                            <input class="mb-0" type="password" th:field="*{matKhau}" placeholder="Mật khẩu" />
                                            <span class="text-danger error" th:if="${#fields.hasErrors('matKhau')}" th:errors="*{matKhau}"></span>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                                <input type="checkbox" id="remember_me" th:name="rememberMe" th:value="true" checked />
                                                <label for="remember_me">Ghi nhớ</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                            <a th:href="@{/user/forgot-password}">Quên mật khẩu?</a>
                                        </div>
                                        <div class="col-md-12">
                                            <div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <span th:text="${message}"></span><a th:href="@{/user/unlock-account?sdt=__${login.sdt}__}" th:text="${link}"></a>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-item-center">
                                        <button class="register-button mt-0">Đăng nhập</button>
                                    </div>
                                    <div class="text-center mt-20">
                                        <span>Bạn chưa có tài khoản?
                                          <a href="/user/register">Đăng ký tại đây</a></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
