<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/user/user}">
    <head>
        <title>KLB Store</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/user/index">Trang chủ</a></li>
                            <li class="active">Mở khóa tài khoản</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="page-section mb-60">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <form th:action="@{/user/unlock-account}" th:object="${unlockFrom}" method="post">
                                <div class="login-form">
                                    <h4 class="login-title">Đổi mật khẩu</h4>
                                    <div class="row">
                                        <div class="col-md-12 mb-20">
                                            <label>Mật khẩu mới</label>
                                            <input class="mb-0" type="password" th:field="*{newPass}" placeholder="Nhập mật khẩu mới" />
                                            <span class="text-danger error" th:if="${#fields.hasErrors('newPass')}" th:errors="*{newPass}"></span>
                                        </div>
                                        <div class="col-md-12 mb-20">
                                            <label>Xác nhận mật khẩu mới</label>
                                            <input class="mb-0" type="password" th:field="*{subPass}" placeholder="Nhập mật khẩu xác nhận" />
                                            <span class="text-danger error" th:if="${#fields.hasErrors('subPass')}" th:errors="*{subPass}"></span>
                                        </div>
                                        <div class="col-md-12 mb-20">
                                            <label>Mã xác nhận</label>
                                            <input class="mb-0" type="text" th:field="*{subCode}" placeholder="Nhập mật khẩu xác nhận" />
                                            <span class="text-danger error" th:if="${#fields.hasErrors('subCode')}" th:errors="*{subCode}"></span>
                                        </div>
                                        <div class="col-12">
                                            <div th:if="${message}" class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <span th:text="${message}"></span><a href="/user/login" th:text="${error}"></a>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-primary" type="submit">Đổi mật khẩu</button>
                                            <span th:txt="${message}"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
